.project-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f9f9f9;
}

.project-manager-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-container {
  position: relative;
  width: 60vh;
}

.input-container input {
  width: 100%;
  padding: 8px 50px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-container input:focus {
  border-color: #21ba45;
  box-shadow: 0 0 5px rgba(33, 186, 69, 0.5);
}

.input-container button {
  position: absolute; /* Позиционируем кнопку внутри контейнера */
  top: 50%; /* Центрируем вертикально */
  right: -4px; /* Отступ от правого края */
  transform: translateY(-50%); /* Смещаем для центровки по вертикали */
  padding: 8px 12px;
  font-size: 16px;
  background-color: #21ba45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  font-size: 14px;
  margin-top: 10px;
  color: #d9534f;
}
